<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "http://logging.apache.org/log4j/docs/api/org/apache/log4j/xml/log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out" />
        <param name="Threshold" value="trace" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [%c{1}] [%t] %m%n" />
        </layout>
    </appender>
    <appender name="console2" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out" />
        <param name="Threshold" value="trace" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%m%n" />
        </layout>
    </appender>
    <appender name="acesslog" class="org.apache.log4j.RollingFileAppender">
        <param name="file" value="logs/access.log" />
        <param name="MaxFileSize" value="50MB" />
        <param name="MaxBackupIndex" value="15" />
        <param name="append" value="true" />
        <param name="bufferedIO" value="false" />
        <param name="BufferSize" value="256" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%m%n" />
        </layout>
    </appender>
    <appender name="filelog" class="org.apache.log4j.RollingFileAppender">
        <param name="file" value="logs/file.log" />
        <param name="MaxFileSize" value="50MB" />
        <param name="MaxBackupIndex" value="15" />
        <param name="append" value="false" />
        <param name="bufferedIO" value="false" />
        <param name="BufferSize" value="256" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [%c{1}] [%t] %m%n" />
        </layout>
    </appender>

    <logger name="com.fatwire">
        <level value="info"></level>
        <appender-ref ref="filelog" />

    </logger>
    <logger name="com.fatwire.gst.web.servlet.profiling.servlet.filter.debug.AccessLogFilter" additivity="false">
        <level value="debug"></level>
        <appender-ref ref="acesslog" />
    </logger>

    <!-- Setup the Root category -->
    <root>
        <priority value="info" />
        <appender-ref ref="console" />
    </root>
</log4j:configuration>
