<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
    <bean id="requestCounter" class="com.fatwire.gst.web.status.RequestCounter">
        <constructor-arg>
            <value>requests</value>
        </constructor-arg>
    </bean>
    <bean id="requestCounterFilter" class="com.fatwire.gst.web.status.filter.RequestCounterFilter">
        <property name="requestCounter" ref="requestCounter" />
    </bean>

</beans>
